<a
  class="card mb-3"
  style="max-width: 540px;"
  (click)="onSelected()">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name}}</h5>
        <p class="card-text">{{ recipe.description }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="img-container">
        <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="card-image"
        style="height: 100%;"
        >
      </div>
    </div>
  </div>
</a>
